### Arithmetic Operators

In [1]:
# Declare two variables
x = 5
y = 10

In [2]:
# Addition
x+y

15

In [3]:
# Subtraction
y-x

5

In [4]:
# Multiplication
x*y

50

In [6]:
# Division
y/x

2.0

In [8]:
# Modulus
y % x

0

In [9]:
# Integer Division
y // x

2

In [10]:
# Exponential
y ** x

10

### Comparison Operators

In [9]:
# Declare two variables

In [12]:
# Equal to

In [13]:
# Not equal to
x != y

False

In [14]:
# Greater than
x > y

False

In [15]:
# Less than
x<y

False

In [16]:
# Greater than or equal to
x >= y

True

In [17]:
# Less than or equal to
x <= y

True

### Logical Operators

In [18]:
# Declare three variables
x = 10
y = 15
z = 20

In [34]:
# Logical AND
if x == y and y<z:
    print("Right!")
else:
    print("False")

False

In [33]:
# Logical OR
if x > y or x < z:
    print('At least one of the statements is true')
else:
    print('Both statements are false')

At least one of the statements is true

In [35]:
# Logical NOT
print(not x)

False

### Assignment Operators

In [36]:
# Declare a variable
a = 40

In [37]:
# Simple assign
a = a+40

In [38]:
# Add and assign
a += 5
print(a)

85

In [40]:
# Subtract and assign
a -= 10
print(a)

65

In [41]:
# Multiply and assign
a *= 2
print(a)

130

In [45]:
t = 25

In [46]:
# Divide and assign
t /= 2
print(t)

12.5

In [49]:
# Modulus and assign
t %= 9
print(t)

3.5

In [50]:
# Integer divide and assign
t /=2
print(t)

1.75

In [51]:
# Exponentiation and assign
t //=2
print(t)

0.0

### Bitwise Operators

In [14]:
# Declare two variables
x = 1111
y = 1010

In [15]:
# Operations in binary
# Bitwise AND
x &= y   #or x = x & y
print(x)

82

In [16]:
# Bitwise OR
x |= y  # or x = x | y
print(x)

1010

In [17]:
# Bitwise XOR
x ^= y # or x = x ^ y
print(x)

0

In [18]:
# Bitwise NOT
~ x

-1

In [22]:
# Bitwise left shift
y << 1

2020

In [23]:
# Bitwise right shift
y >> 2

252

### Identity Operators

In [2]:
# Declare two variable
a = 5
b = 10

In [4]:
# Check if a and b are the same object
print(a is b)

False

In [5]:
# Check if x and z are the same object
c = 8

In [6]:
# Check if x and z are not the same object
print(a is c)

False

### Membership Operators

In [7]:
# Declare a sequence
l = [1, 2, 3, 4, 5]

In [11]:
# Check if a value is in the sequence
if 3 in l:
    print("Yes")
else:
    print("No")

Yes

In [12]:
# Check if a value is not in the sequence
if 3 not in l:
    print("Not in this list")
else:
    print("It is in there")

It is in there

In [13]:
# Declare two list with some duplicates elements and print out all the elements found in the two list (intersection of a set)

list1 = [1, 2, 3, 5, 6, 9, 10]
list2 = [2, 4, 6, 8, 10, 12, 14]

for item in list1:
    if item in list2:
        print("overlapping")
    else:
        print("non overlapping")

non overlapping
overlapping
non overlapping
non overlapping
overlapping
non overlapping
overlapping